
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center ">
        <div class="col col-3 bg-white habilidades " style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray ">
            <i class="bi-person-badge-fill"></i>

            <h3> Habilidades </h3>
            <p style="text-align:justify;margin-left:20px;margin-right:20px"> Un programador capacitado no solo posee conocimientos técnicos,
                sino que también una serie de habilidades que lo distinguen como un 
                profesional valioso y adaptable.</p>

            <p class="text-black text-primary cabecera"> Mis Habilidades Son: </p>
            <ul style="margin-left:120px;text-align:justify">
                <li>Paciencia y persistencia</li>
                <li>Trabajo en equipo</li>
                <li>Adaptabilidad</li>
                <li>Pensamiento lógico</li>
                <li>Resolución de problemas</li>
                <li>Autoaprendizaje</li>
                <li>Comunicación</li>
                <li>Ética laboral</li>
                <li>Gestión del tiempo</li> 
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi-file-earmark-code-fill"></i>
            <h3> Conocimientos </h3>
                <p style=" margin-top: 20px ;text-align:justify;margin-left:20px;margin-right:20px" > Los conocimientos de un programador son fundamentales para su desempeño exitoso 
                    en el desarrollo de software</p>
        
            <p class=" text-black text-primary cabecera" style="margin-top: 30px"> Mis Conocimientos Son </p>
                <ul style="margin-left:140px;text-align:justify">
                    <li>SQL Server</li>
                    <li>ASP.NET</li>
                    <li>C#</li>
                    <li>Git y Github</li>
                    <li>C++</li>
                    <li>Dapper</li>
                </ul>
        </div>
    </div>
</div>
