@model IEnumerable<ProyectoDTO>


@if(Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="car h-1 100">
                        <img src="@proyecto.ImagenURL" class="card-img-top" alt=" Imagen Proyecto" />
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;"> @proyecto.Titulo</h5>
                            <p class="card-text"> @proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-secondary" style="margin-left:160px"  href="@proyecto.Link" target="_blank" rel="noopener noreferrer">Visitar</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
