<div class="text-center">
    <h1 class="display-4"> Soy David Merchan</h1>
    <h3 style="text-align:justify; margin-left:40px;margin-right:40px">
        Como programador junior, soy alguien apasionado por la tecnología y estoy en constante aprendizaje.
        Estoy emocionado por ampliar mis habilidades y conocimientos en el campo. Aunque todavía estoy en una etapa de desarrollo,
        me destaco por mi curiosidad y capacidad para resolver problemas. Estoy dispuesto a asumir nuevos desafíos y aprender de
        mis errores para mejorar constantemente.
    </h3>

    <img id="foto"
         src="~/imagenes/yo.jpeg" alt="Foto de david" />

    <div class="row justify-content-center text-center bg-black" style="background:cadetblue">
        <div class="col col-md-7 bienvenida">
            <h1>Gracias por tomarte el tiempo para visitar mi portafolio.</h1>
            <p style="text-align:justify">
                Estoy motivado, comprometido y ansioso por enfrentar nuevos desafíos en el mundo de la programación.
                Mi pasión por el desarrollo de software y mi disposición para aprender constantemente me convierten 
                en un candidato entusiasta y dedicado. Estoy listo para aportar mis habilidades y conocimientos 
                a proyectos emocionantes y contribuir al crecimiento y éxito de cualquier equipo de desarrollo.
            </p>
        </div>
    </div>
</div>
